<div class="carousel-container">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide
      ><img
        src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/emthemes/resized/frontend/emthemes/slideshow/a/i/air_conditioner_bi_banner_1.jpg"
        alt="slide-1"
    /></ng-template>
    <ng-template carouselSlide
      ><img
        src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/emthemes/resized/frontend/emthemes/slideshow/i/n/infinix-web.jpg"
        alt="slide-2"
    /></ng-template>
  </owl-carousel-o>
</div>

<div class="catagories">
  <div class="catagory-header">
    <h2>SHOP BY CATEGORY</h2>
  </div>

  <div class="catagory-content">
    <div class="smartphone">
      <img src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/Smartphones-pickaboo.png" />
      <h3>Smartphones</h3>
    </div>

    <div class="electronics">
      <img src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/electronics-appliances-pickaboo.png" />
      <h3>Electronics Appliances</h3>
    </div>

    <div class="mobile">
      <img src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/mobile-accessories-pickaboo.png" />
      <h3>Mobile Accessories</h3>
    </div>

    <div class="computer">
      <img src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/computer-accessories-pickaboo.png" />
      <h3>Computer Accessories</h3>
    </div>

    <div class="lifestyle">
      <img src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/lifestyle-pickaboo.png" />
      <h3>Lifestyle & Personal Care</h3>
    </div>
  </div>
</div>

<div class="banner">
  <img
    src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/Todays-Special.jpg"
    alt=""
  />
</div>

<div class="header">
  <h2>TODAY'S SPECIAL</h2>
</div>

<div class="products" routerLink="/Product">
  <mat-card class="example-card">
    <img
      mat-card-image
      src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/catalog/product/cache/ad6eca43ef1a34982ffeb01940d91d5b/i/n/infinix-note-12-x670-8gb-128gb-19-06-2022.jpg"
      alt="infinix"
    />
    <mat-card-header>
      <mat-card-title>Infinix Note 12 X670 8GB/128GB</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>৳19,999</p>
    </mat-card-content>
  </mat-card>
</div>
