<div class="product">
  <div class="gallary">
    <div class="banner">
      <img
        src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/catalog/product/cache/c9c3ae6e3f78df4924e8b3b9bf50d8e7/i/n/infinix-note-12-x670-8gb-128gb-19-06-2022.jpg"
        alt=""
        id="preview"
      />

      <div class="img-prev">
        <div class="img-slide active">
          <img
            src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/catalog/product/cache/c9c3ae6e3f78df4924e8b3b9bf50d8e7/i/n/infinix-note-12-x670-8gb-128gb-19-06-2022.jpg"
            alt="image1"
            appToggle
          />
        </div>

        <div class="img-slide">
          <img
            src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/catalog/product/cache/c9c3ae6e3f78df4924e8b3b9bf50d8e7/i/n/infinix-note-12-x670-force-black.jpg"
            alt="image2"
            appToggle
          />
        </div>

        <div class="img-slide">
          <img
            src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/catalog/product/cache/c9c3ae6e3f78df4924e8b3b9bf50d8e7/i/n/infinix-note-12-x670-snowfall-4.jpg"
            alt="image3"
            appToggle
          />
        </div>
      </div>
    </div>
  </div>

  <div class="advertise">
    <a href="#">
      <img
        src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/USP-SIDE-BANNER_767_1_.jpg"
        alt="ad"
      />
    </a>
  </div>

  <div class="cart">
    <mat-card class="example-card">
      <mat-card-title>Infinix Note 12 X670 8GB/128GB</mat-card-title>
      <p>
        Be the first to review this product <br />
        Brand: <span>Infinix</span>
      </p>
      <mat-card-content>
        <p>
          Sold by :
          <a
            href="https://www.pickaboo.com/vendor_shop/infinix-official.html"
            target="_blank"
            >Infinix Official</a
          >
        </p>

        <img
          src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/wysiwyg/cmsp/bkash-10-30-04-2022.jpg"
          alt="bkash"
        />

        <!-- <p>{{ longText }}</p> -->
        <br /><br />
        <span>৳19,999</span>

        <div class="warranty">
          <p>
            Warranty: <span>12 Months Official Warranty</span><br />
            EMIs from <b>৳624.97/month</b>
          </p>
        </div>

        <div class="variant">
          <p>Color</p>
          <img
            src="https://azse77seaprodsa.blob.core.windows.net/b2b-dr-pickaboocdn/media/catalog/product/cache/c9c3ae6e3f78df4924e8b3b9bf50d8e7/i/n/infinix-note-12-x670-sapphire-blue-2_1.jpg"
            alt=""
          />
        </div>
        <br />

        <div class="insurance">
          <label id="example-radio-group-label"
            >P-Protect (smartphone's insurance packages for 12 months)-</label
          >
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let option of options"
              [value]="option"
            >
              {{ option }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Add to Cart</button>
        <button mat-raised-button color="warn">Buy Now</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="responsive-btn">
  <button mat-raised-button color="primary">Add to Cart</button>
  <button mat-raised-button color="warn">Buy Now</button>
</div>

<div class="details">
  <mat-tab-group dynamicHeight>
    <mat-tab label="Details">
      <div class="example-large-box mat-elevation-z4">
        Infinix Note 12 X670 8GB/128GB <br /><br />
        OS: Android™ 12 <br />
        CPU: Helio G96 <br />
        GPU: ARM G57 MC2 <br />
        RAM: 8GB+5GB Extended<br />
        ROM: 128GB<br />
        External Memory: Up To 2TB<br />
        Network: 2G/3G/4G<br />
        Sim Slot: Dual Nano Sim+Micro Sd<br />
        Rear Camera: 50MP+2MP+Q with Quad-Flash Light<br />
        Front Camera: 16MP<br />
        Video Feature: 2K@30FPS<br />
        Display Size: 6.7" True Color Display<br />
        Display Type: Amoled <br />
        Display Resolution: FHD+1080*2400<br />
        Battery Capacity: 5000mAh | 33W Flash Charge<br />
        Sensors: G-Sensor | E-Compass | Gyroscope | Light Sensor | Proximity
        Sensor | Side Fingerprint<br />
        Connectivity: WLAN: IEEE 802.11 a/ b/ g/ n/ ac 2.4G, 5G | Bluetooth: Yes
        | GPS | FM radio | USB Type-C | 3.5 Jack | OTG
      </div>
    </mat-tab>
    <mat-tab label="More Information">
      <div class="example-large-box mat-elevation-z4">
        Brand Infinix <br />
        SKU IFXN12X6708128 <br />
        Express Delivery Yes <br />
        Warranty Information 12 Months Official Warranty <br />
        Emi Available 0 <br />
        Display Size (Inches) 6.7 <br />
        Front Camera 16 MP <br />
        System Storage 128 <br />
        RAM(GB) 8 <br />
        SIM Card Nano-SIM & dual stand-by <br />
        Processor MediaTek G96 <br />
        Connectivity WLAN: IEEE 802.11 a/ b/ g/ n/ ac 2.4G, 5G | Bluetooth: Yes
        | GPS | FM radio | USB Type-C | 3.5 Jack | OTG Battery mAh 5000mAh | 33W
        Flash Charge <br />
        Back Camera 50MP+2MP+QVGA <br />
        Phone Model Infinix Note 12 X670 <br />
      </div>
    </mat-tab>
    <mat-tab label="Reviews">
      <div class="example-large-box mat-elevation-z4">
        Customer Reviews
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
